/* PropertyCard.css */

.card-img-top {
    transition: transform 0.5s ease; 
  }
  
  .card-img-top:hover {
    transform: scale(1.1); 
  }
  
  .card-image-container {
    overflow: hidden; 
  }
  
  .card-image-container img {
    height: 240px; 
    object-fit: cover;  
    width: 100%;
  }
  